<%= form_for @track, :html => { :class => "form-horizontal track" } do |f| %>

  <% if @track.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @track.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%#=  <%=f.error_span(:name) %> 
  </div>
  <div class="form-group">
    <%= f.label :gpx_file_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gpx_file_name, :class => 'form-control' %>
    </div>
    <%#= <%=f.error_span(:gpx_file_name) %>
  </div>
  <div class="form-group">
    <%= f.label :gpx_content_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gpx_content_type, :class => 'form-control' %>
    </div>
    <%#= <%=f.error_span(:gpx_content_type) %>
  </div>
  <div class="form-group">
    <%= f.label :gpx_file_size, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gpx_file_size, :class => 'form-control' %>
    </div>
    <%#= <%=f.error_span(:gpx_file_size) %>
  </div>
  <div class="form-group">
    <%= f.label :gpx_updated_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gpx_updated_at, :class => 'form-control' %>
    </div>
    <%#= <%=f.error_span(:gpx_updated_at) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tracks_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
