<%- model_class = Track -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @track.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gpx_file_name) %>:</strong></dt>
  <dd><%= @track.gpx_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gpx_content_type) %>:</strong></dt>
  <dd><%= @track.gpx_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gpx_file_size) %>:</strong></dt>
  <dd><%= @track.gpx_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gpx_updated_at) %>:</strong></dt>
  <dd><%= @track.gpx_updated_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tracks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_track_path(@track), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              track_path(@track),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
